.inputContainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-bottom: 1rem;
}

.span{
    display: inline-flex;
    font-size: 18px;
    color: hotpink;
    font-weight: bold;
}

.input{
    border: 2px solid hotpink;
    border-radius: 1rem;
    height: 30px;
    text-align: center;
    width: 50%;
}
.input:focus{
    outline: none;
    border: 2px solid #c91871;
    background: #eee7e7;
}
input[type='number']{
    font-size: 16px;
}

.inputError{
    border: 2px solid hotpink;
    background: hotpink;
    border-radius: 1rem;
    height: 30px;
    text-align: center;
    width: 50%;
    color: white;
}